.navbar-brown {
	background: #553B1A;
	outline: 2px solid #201201;
	box-shadow: 0 0 15px #000000;
	z-index: 100;
}

.navbar-brown a {
	color: #FFFFFF;
}

.more-dropdown {
	transform: translateX(-50%);
}

.more-dropdown a {
	color: #000000;
}

.background-container {
	width: 100%;
	height: 35vh;
	overflow: hidden;
	top: 0;
}

.background-container img {
	display: block;
	position: relative;
	min-width: 100%;
	z-index: -10;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1, h2, h3 {
	text-align: center;
	font-weight: bold;
	margin-top: 20px;
}

p {
	text-align: justify;
}

.bold {
	font-weight: bold;
}

section {
	width: 90%;
	margin: 0 auto;
	background: #FFFFFF;
	font-size: 20pt;
}

.container-fluid {
	width: 100%;
	padding: 0;
}

.section-img {
	position: relative;
	height: 400px;
	float: right;
}