.navbar-brown {
	background: #553B1A;
	outline: 2px solid #201201;
	box-shadow: 0 0 15px #000000;
	z-index: 100;
}

.navbar-brown a {
	color: #FFFFFF;
}

.more-dropdown {
	margin-left: -80px;
}

.more-dropdown a {
	color: #000000;
}

button span {
	color: #000000 !important;
}

.background-container {
	width: 100%;
	height: 35vh;
	overflow: hidden;
	z-index: -10;
}

.background-container img {
	display: block;
	position: relative;
	max-width: 100%;
	z-index: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	filter: none;
}

h1, h2, h3 {
	text-align: center;
	font-weight: bold;
	margin-top: 20px;
}

p {
	text-align: justify;
}

.bold {
	font-weight: bold;
}

section {
	width: 80%;
	margin: 0 auto;
	background: #FFFFFF;
	font-size: 20pt;
}

.container-fluid {
	width: 100%;
	padding: 0;
}

.ingredients-img {
	position: relative;
	height: 330px;
	float: right;
	box-shadow: 0 0 1vw #000000;
}

.step-img {
	width: 100%;
	box-shadow: 0 0 1vw #000000;
}

.recipe-step .col-sm-12 {
	padding-bottom: 10px;
}


@media screen and (max-width: 1199px) {
	.ingredients-img {
		float: none;
		width: 100%;
		height: auto;
	}
}

@media screen and (max-width: 991px) {
	.more-dropdown {
		margin-left: 0px;
	}
}

@media screen and (max-width: 464px) {
	.background-container img {
		height: 100%;
		max-width: none;
	}
}